# URL que o next-auth usa para se identificar (necessário)
NEXTAUTH_URL=

# 1. A URL onde o FrontEnd está rodando agora

# Um segredo aleatório para o next-auth assinar seus próprios cookies de sessão
NEXTAUTH_SECRET=
# (Você pode usar um gerador de SHA256 online para criar um)

# --- Configurações do Keycloak ---

# O endereço INTERNO do Keycloak (como o servidor Next.js o vê)
KEYCLOAK_ISSUER=

# O ID do client que você ACABOU de criar no Passo 2
KEYCLOAK_CLIENT_ID=

# O endereço PÚBLICO do Keycloak (como o NAVEGADOR do usuário o vê)
# Usado para construir as URLs de login/logout iDvYlAyQqVN6wYrgECcCudU4DKU7TPQu
NEXT_PUBLIC_KEYCLOAK_BASE_URL=

KEYCLOAK_CLIENT_SECRET=

# === URL da API ===
# Aponta para o API Gateway, que está na porta 8080
NEXT_PUBLIC_API=
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_WS_URL=